@charset "utf-8";

*{margin: 0px; padding: 0px;}
ol,ul,li{list-style: none;}
a{text-decoration: none; color: #333;}
body{
  font-family: "맑은고딕",Arial,sans-serif;
  font-size: 12px;
  color: #333;
}
.t_color01{color: #006633;}
section{
  width: 1100px;
  margin: 0px auto;
  font-size: 16px;
}
section h2{
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 28px;
  line-height: 40px;
}
fieldset{
  background: #f4f4f2;
  text-align: right;
  line-height: 60px;
  border: none;
  margin: 14px 0px;
}
fieldset legend{display: none;}
fieldset #search{
  border: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 30px; width: 300px;
}
fieldset input[type=submit]{
  background: #4d4d3d;
  color: #fff;
  padding: 5px 10px;
  margin: 0px 10px;
  border-radius: 4px;
  border: none;
}
/* 질문 답변 서식 */
.faq{
  margin-top: 30px;
  margin-bottom: 40px;
  padding-top: 10px;
  border-top: 1px solid #333;
  border-bottom: 1px solid #333;
}
.faq dt{
  border-bottom: 1px solid #ccc;
  cursor: pointer;
  position: relative;
  padding: 10px 0px 16px 0px ;
}
.faq dt i{
  position: absolute;
  right: 8px;
  font-size: 26px;
  transform: rotate(180deg);
}
.faq dt::before{
  content: "Q";
  color: #006633;
}
.faq dd{
  background: #f4f4f2;
  padding: 26px 15px 20px 20px;
  text-indent: -20px;
  display: none;
  /* transition: 0.3s; */
}
.faq dd p{
  text-indent: 0px;
  margin: 10px;
}
.faq dd::before{
  content: "A";
  font-weight: 700;
}

/* 제목에 적용되는 컬러 */
.act01{color: #006633;}
/* 화살표 방향 */
.act02{transform: rotate(360deg)!important;}
/* 나오는거 */
.act03{display: block;}


