@charset "utf-8";

main{}
main section{}
#main_intro{
  overflow: hidden;
  height: 100vh;
}
#main_intro h2{display: none;}
#main_intro article{
  position: absolute;
  width: 100%; top: 40%;
  transform: translateY(-50%);
  z-index: 100;
  text-align: center;
  color: var(--t-color02);
}
#main_intro article h3{
  font-size: 60px;
  font-weight: bold;
}
#main_intro article p {
  line-height: 80px;
  font-size: 16px;
}
#main_intro article a{
  color: var(--t-color02);
  font-size: 14px;
  text-decoration: underline;
  margin: 0px 20px;
  padding: 5px 10px;
}
#main_intro article a:first-of-type{
  background: var(--bg-color01);
}
#next_btn{
  position: absolute;
  left: 48%; bottom: 40px;
  /* z-index: 10000000; */
  display: inline-block;
  width: 40px; height: 40px;
  text-indent: -99999px;
  border-bottom: 3px solid #fff;
  border-left: 3px solid #fff;
  transform: rotate(-45deg);
}

#top3,#intro,#test,#event,#buy,#cs{
  background: #ccc;
  margin: 50px 0px;
  height: 800px;
}

/* top3 서식 */
#top3{background: #fff!important;}
#top3>h2,#top3>p{text-align: center;}
#top3 >h2{
  font-size: 40px;
  line-height: 70px;
}
.swiper-slide > span{
  display: block;
  width: 60px; height: 20px;
  margin: 0px auto;
  color: #007FA8;
  border: 1px solid #007FA8;
  text-align: center;
  line-height: 20px;
  border-radius: 40px;
}
.swiper-slide p{
  text-align: center;
  font-size: 30px;
  color: #0C3362;
  font-weight: 500;
}
.swiper-slide img{
  display: block;
  width: 300px;
  margin: 0px auto;
}
.ul01{
  display: flex;
  width: 600px;
  margin: 0px auto;
  justify-content: space-between;
}
.ul01 li{
  width: 200px;
}
.ul01 li:not(:last-child){
  border-right: 1px solid #ccc;
}
.c_box01{
  display: inline;
  width: 100px;
  height: 50px;
  background: #ece6cc;
}
